@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}
 
body {
  background-color: #eff1f2;
}
 li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
} 

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #df1b1b;
}
 
 button{
    padding: 9px 25px;
    background-color: rgba(223,27,27);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(223,27,27);
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  justify-content: space-between;
  text-align: center;
}
 
nav li {
  list-style: none;
  padding: 1em 0;
}
 
nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}
 
nav li a:hover {
  opacity: 1;
}

.action-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: rgba(223,27,27);
  padding: 0.5em 2em;
  border-radius: 60px;
  margin: 1em 0;
  transition: 0.3s;
}
 
@media (min-width: 1040px){
  .container {
	max-width: 1200px;
	margin: auto;
	font-size: 1.5em;
	width: 100%;
	height: 100;
	display: grid;
	grid-template-areas: 'header' 'content' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows:120px 650px 190px;
  }
 
  nav ul {
    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
  }
 
  .header {
    background: linear-gradient(
      rgba(223,27,27),
      rgba(206,37,37),
      rgba(186,48,48)
    );
    padding-top: 1cm;
  }
 
  .content {
	grid-area: content;
	background-image: url(background.png);
  background-color: #fff;
	height: auto;
	width: auto;
	background-size: cover;
	background-position: center;
	min-height: 100px;
	margin: 0cm;
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
 
  .hero {
	justify-content: space-between;
	text-align: left;
	margin-top: 10px:
  }
 
  .hero h1 {
    font-size: 50px;
	color: black;
  }

  .hero p {
    width: 60%;
	font-weight: 300;
	line-height: 1.3em;
	color: #df1b1b;
	font-size : 18px;
  }
}

footer {
    background: linear-gradient(
      rgba(223,27,27),
      rgba(206,37,37),
      rgba(186,48,48)
    );
	font-family: sans-serif;
    padding: 20px;
	font-size: 16px;
	color: #fff;
}

.footer-content, .social-media, .footer-bottom {
    margin-bottom: 15px;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.hero-content{
	margin-top : 4px;
